<html>
<style>
* {
	font-family: sans-serif;
}
body {
	background-color: #FDF3E7;
	font-size:62.5%;
	margin: 0;
	color: gray;
}
@font-face {
    font-family: "<%= name %>";
	src: url('<%= name %>.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('<%= name %>.woff2') format('woff2'), /* Super Modern Browsers */
          url('<%= name %>.woff') format('woff'), /* Pretty Modern Browsers */
          url('<%= name %>.ttf')  format('truetype'), /* Safari, Android, iOS */
          url('<%= name %>.svg#<%= name %>') format('svg'); /* Legacy iOS */
}


h1 {
	background-color:  #C63D0F;
	color: white;
	padding: 0.5rem;
	margin: 0;
	border-bottom: 2px solid #FDF3E7;
	box-shadow: 0 5px 0 #C63D0F;
	margin-bottom: 5px;
}
ul {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}
li {
	display: flex;
	flex-direction: column;
	flex-basis: 4rem;
	background-color: white;
	padding: 0.5rem;
	border: 1px solid #EFEFEF;
	cursor: pointer;
}
li.selected{
	background: lightblue;
}
li:hover {
	background-color: #DEDEDE;
}
li div {
	font-size: 3rem;
	padding: 0.5rem;
	font-family: "<%= name %>";
	align-items: center;
	color: black;
}
b {
	font-weight: normal;
	text-transform: uppercase;
}
i {
	color: #C63D0F;
}
.filename {
	font-family: monospace;
	font-style: normal;
}
textarea {
	height: 80vh;
	width: 100%;
}
.layout {
	display: flex;
}
.layout ul {
	flex:3;
}
.layout textarea {
	flex: 1;
}

</style>

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script>
$().ready(function() {
	$('li').click(function() {
		$(this).toggleClass('selected');
		$('textarea').val(JSON.stringify({"name": "MyFont",glyphs: generateFontFile()}, undefined,  ' '))
	})
});
function generateFontFile() {
	return $.makeArray($('li.selected')).map(function(element) {
		return {
	      "unicode": [
	        $('div', element).html()
	      ],
	      "name": $('i.name', element).html(),
	      "file": $('i.file', element).html()
	  };
  });
}

</script>

 <!--link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"-->
<body>
	<h1><%= name %></h1>
	<div class='layout'>
	<ul>
		<% glyphs.forEach(function(glyph){ %>
			<li>
				<i class='name'><%= glyph.name %></i>
				<div><%= glyph.unicode %></div>
				<i class="file"><%= glyph.file %></i>
				<b>U+<%= decode(glyph.unicode) %></b>
			</li>
		<% }); %>
	</ul>
	<textarea></textarea>
</body>
</html>
